#result {
    font-size: 25px;
    border-radius: 20px;
    margin-top: 4%;
    margin-bottom: 2%;
    width: 100%;
    text-align: center;
    background-color: rgb(159, 29, 153);
    color:#F8D8F6 ;
    font-family: 'Pacifico';
    font-weight: 400;
    
  }
  .whole {
    margin-top: 3%;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    max-height: 100%;
    
    -webkit-text-stroke-color: #040104;
    
  }
  #whole{
    color: #9f1d99;
  }
  .form-group{
    margin: 20px;
  }
  .whole input{
    border-radius: 20px;
    margin: 10px;
  }
  .whole input:focus {
    border-color: rgb(159, 29, 153);
    border-width: 3px;
    box-shadow: 11px 4px 28px 5px rgb(159, 29, 153);
        -webkit-box-shadow: 11px 4px 28px 5px rgb(159, 29, 153);
        -moz-box-shadow: 11px 4px 28px 5px rgb(159, 29, 153);
  }
  .back{
    background-color: white;
    margin-top: 0;
    height: 100%;
    padding: 20px;
    
  }

  
  
  
  .whole {
    font-family: 'Pacifico';
    font-weight: 400;
  }
  
  
  
  .btn {
    background-color: #9f1d99;
    color:#f8d8f6;
    border-radius: 20px;
    margin: 10px;
    margin-left: 30px;
    width: 150px;
    padding: 8px;
    
  }
  .btn:hover{
    box-shadow: 11px 4px 28px 5px rgb(159, 29, 153,0.5);
        -webkit-box-shadow: 11px 4px 28px 5px rgb(159, 29, 153,0.5);
        -moz-box-shadow: 11px 4px 28px 5px rgb(159, 29, 153,0.5);
        color:#F8D8F6;
  }
  
  
  .whole h3 {font-size: 2.369rem;
    font-family: 'Pacifico';
    font-weight: 700;
    letter-spacing: 10px;
}
.whole h3:hover{
    cursor: pointer;
}
.active_result{
    padding: 5px;
    
}
body{
    background-color: white;
}
.footer{
    background-color: white;
    height: 5vh;
    font-family: 'Pacifico';
    font-size: 12px;
    color: #9f1d99;
    width: 100%;
    display: flex;
    

}
.footer span{
    margin-left:auto ;
    padding: 5px;
}
.footer a{
    text-decoration: none;
    font-family: 'Pacifico';
    font-size: 12px;
    color: #9f1d99;
}
.footer a:hover{
    border-bottom: 2px solid #9f1d99;
}
.button{
  display: flex;
}
#darkbut{
  width: 80px;
  height: 40px;
  border-radius: 100px;
  background-color: #F8D8F6;
  margin-left: auto;
  margin-right: 20px;
  padding: 2px;
  
  
}
#darkbut span{
  width: 35px;
  height: 35px;
  border-radius: 40px;
  background-color: #9f1d99;
  position: absolute;
  
  
}
#head{
  display: flex;
  
}
.animate{

  animation-name: toggle;
  animation-duration: 0.15s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  

}

@keyframes toggle{
  from{ margin-left: 0;}
  to{margin-left: 40px;}
}
#note{
  width: 80%;
  padding: 10px;
}
#note h5{
  letter-spacing: normal;
  font-weight: 400;
}
.whole p{
  font-size: large;
}


@media screen and (max-width:500px) {
  #button2{
    margin-left: 10px;
  }
  .btn{
    width: 130px;
  }
}
@media screen and (max-width:420px){
  .whole h3{
    font-size: 1.7rem;
  }
  .btn{
    border-radius: 40px;
  }
  
}
@media screen and (max-width:380px) {
  .whole h3{
    font-size: 1.4rem;
  }
  .whole p{
    font-size: 15px;
  }
}
@media screen and (max-width:352px) {
  .whole h3{
    font-size: 1rem;
    font-weight: bolder;
  }
  .whole p{
    font-size: small;
  }
}
  